:root {
  --saturation: 0;
}

body {
  overflow: hidden;
}

img {
  filter: saturate(var(--saturation));
  object-fit: cover;
  height: 100vh;
  transition: 0.2s filter;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}
