:root {
  --light-color: var(--white);
  --dark-color: var(--gray-9);
  --font-size: calc(20px + 1vw);
  --dark-grey: darkgrey;
  --light-blue: #e8f7ff;
  --light-green: #c0eb75;
  --warm-accent: #e599f7;
  --cool-accent: #a3daff;
  --error: #e03131;
  --variable: #99e9f2;
}

body {
  background: var(--light-color);
  color: var(--dark-color);
  cursor: none;
  font-family: Fira Sans, sans-serif;
  font-size: var(--font-size);
  scroll-snap-type: mandatory;
}

code, pre {
  font-family: Fira Code, monospace;
}

.slide {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  padding: 1rem;
  padding-bottom: 3rem;
  scroll-snap-coordinate: top;
  overflow: none;
}

.slide section {
  flex: 1;
}

.slide header,
.slide section {
  padding: 2rem;
}

.slide header {
  text-align: center;
}

.faded {
  opacity: 0.5;
}

.slide--code {
  background: var(--dark-color);
  color: var(--light-color);
  overflow: hidden;
  justify-content: space-between;
}

.slide--code header {
  align-items: center;
  display: flex;
  width: 100%;
}

.slide--code header code {
  color: var(--gray-4);
  font-weight: 100;
}

.slide--code header img:last-child {
  margin-left: auto;
  width: 3rem;
  height: 3rem;
}

.slide--code header img:first-child {
  margin-right: 0.75rem;
}

.slide--code section {
  width: 100%;
}

var {
  font-weight: 800;
}

.keyword {
  color: var(--orange-4);
}

.object {
  color: var(--violet-4);
}

.comment {
  color: var(--gray-5)
}

code .string {
  color: var(--teal-5);
}

code .parameter,
code .string .parameter {
  color: var(--blue-5);
}

code .function {
  color: var(--violet-5);
}

code .string var {
  color: var(--light-color);
}

/* Title Slide */
.slide:first-child {
  justify-content: center;
}

.slide:first-child header {
  text-align: center;
}

.slide blockquote {
  align-items: center;
  background: center / 100% 133% url(./message-square.svg);
  font-size: 1.8em;
  display: flex;
  margin: auto;
  margin-left: 20vw;
  height: 40vh;
  width: 50vh;
  opacity: 0;
  transition: 0.3s 0.5s ease-out;
  transform: translateY(1rem);
}

.slide--visible blockquote {
  opacity: 1;
  transform: translateY(0);
}

.slide blockquote:last-child {
  background-image: url(./message-square-2.svg);
  text-align: right;
  margin-left: auto;
  margin-right: 20vw;
  margin-top: -10vh;
  transition-delay: 2s;
}

.slide .quotes {
  padding-bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

.slide header:only-child {
  margin: auto;
}

figure {
  align-items: center;
  background: var(--blue-0);
  border: 1px solid var(--blue-1);
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  transition-property: opacity, transform;
  transform: scale(0.8);
}

.slide--visible figure {
  opacity: 1;
  transform: scale(1);
}

figure.bad {
  background: var(--red-1);
  border: 1px solid var(--red-2);
  transition-delay: 1s;
}

figure.normal {
  transition-delay: 10s;
}

figure.new {
  background: var(--green-0);
  border: 1px solid var(--green-1);
  transition-delay: 20s;
}

figure.little-delay {
  transition-delay: 1s;
}

figure.delay-2 {
  transition-delay: 2s;
}

figure.delay-3 {
  transition-delay: 3s;
}

figure.delay-5 {
  transition-delay: 5s;
}

figure.delay-10 {
  transition-delay: 10s;
}

figure ol {
  display: flex;
  justify-content: center;
}

figure svg {
  height: 3rem;
  width: 3rem;
}

figure svg {
  margin: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 98vw;
}

header p {
  text-align: center;
}

.appear {
  opacity: 0;
  transition: 0.5s 0.5s ease-in-out;
  transition-property: opacity, transform;
  transform: translateY(-0.25rem);
}

.slide--visible .appear {
  opacity: 1;
  transform: translateY(0);
}

.appear-first {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.slide--visible .appear-first {
  opacity: 1;
}

.appear-second {
  transition-delay: 1.75s;
}

.fire-container {
  display: flex;
  justify-content: center;
}

.fire {
  opacity: 0;
  transform: scale(0);
  transition: 0.075s ease-out;
  transition-property: opacity, transform;
  transition-delay: 3s;
  margin: 0 0.75rem;
}

.slide--visible .fire {
  transform: scale(1.25);
  opacity: 1;
}


.fire-list {
  counter-reset: fires;
}

.fire-list li::before {
  counter-increment: fires;
  content: "🔥";
  display: inline;
  margin-right: 1rem;
}

.fire-list li {
  opacity: 0;
  transition: 0.3s opacity ease-out;
  margin: 1rem 0;
  font-size: 3rem;
}

.fire-list {
  text-align: left;
}

.fire-list li:first-child {
  transition-delay: 1.5s;
}

.fire-list li:nth-child(2) {
  transition-delay: 3s;
}

.fire-list li:nth-child(3) {
  transition-delay: 4.5s;
}

.fire-list li:nth-child(4) {
  transition-delay: 6s;
}

.slide--visible li {
  opacity: 1;
}

.why {
  transform: translateY(10rem);
  transition: 0.5s 1s transform cubic-bezier(.06, .44, .23, 1.27);
}

.slide--visible .why {
  transform: translateY(0);
}


.code-appear {
  opacity: 0;
  transition: 0.3s 0.5s opacity;
}

.slide--visible .code-appear {
  opacity: 1;
}

.code-appear:nth-child(2) {
  transition-delay: 5s;
}

.code-appear:nth-child(3) {
  transition-delay: 10s;
}

.big {
  width: 25vw;
  height: 25vw;
}

.worker {
  background: var(--teal-0);
  border: 1px solid var(--teal-1);
}

.worker img {
  height: 10vw;
  width: 10vw;
}

.grid--workers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-grow: 0;
  
}

.worker {
  margin: auto 1rem;
  padding: 2rem;
  text-align: center;
}

.worker--shared {
  background: var(--cyan-0);
  border: 1px solid var(--cyan-1);
}

.worker--service {
  background: var(--orange-0);
  border: 1px solid var(--orange-1);
}

.worker {
  opacity: 0;
  transition: 0.3s opacity;
}

.slide--visible .worker {
  opacity: 1;
}

.slide--visible .grid--workers .worker--shared {
  transition-delay: 30s;
}

.slide--visible .grid--workers .worker--service {
  transition-delay: 60s;
}

.worker img {
  opacity: 0;
  transition: 0.3s opacity;
}

.slide--visible .worker img {
  opacity: 1;
}

.worker img:first-child {
  transition-delay: 2s;
}

.worker--shared img:first-child {
  transition-delay: 30.5s;
}

.worker img:nth-child(2) {
  transition-delay: 8s;
}

.worker--shared img:nth-child(2),
.worker--shared img:nth-child(3) {
  transition-delay: 38s;
}

.worker img:first-child {
  transition-delay: 0.5s;
}

.worker img:first-child {
  transition-delay: 2s;
}

.worker img:first-child {
  transition-delay: 2s;
}

.worker img:nth-child(2) {
  transition-delay: 8s;
}
