* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li::before {
    content: "-";
    display: inline-block;
    width: 2em;
}

:root {
    --light-color: rgb(245, 250, 255);
    --dark-color: rgb(25, 25, 30);
    --dark-color-faded: rgba(25, 25, 30, 0.25);
    --font-size: calc(20px + 1vw);
}

body {
    background: var(--light-color);
    color: var(--dark-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: var(--font-size);
    scroll-snap-type: mandatory;
}

h1 {
    font-size: 3.5em;
}

.faded {
    opacity: 0.25;
}

.support {
    display: flex;
}

pre {
    color: white;
    padding: 1em;
}

section {
    align-items: flex-start;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    height: 100vh;
    padding: 1em;
    scroll-snap-coordinate: top;
}

.display {
    display: flex;
}

.code {
    background: var(--dark-color);
}

code {
    color: rgb(255, 255, 255);
    font-family: 'Fira Code';
    font-weight: 800;
}

.no-support {
    opacity: 0.5;
}

.some-support {
    opacity: 0.9;
}

.red {
    color: red;
}

.darkgrey {
    color: darkgrey;
}

section[data-api="vibration"][data-example="basic"]:hover img {
    animation: 0.1s 2s 10 vibrate;
}

section[data-api="vibration"][data-example="alternating"]:hover img {
    animation: 0.1s linear 2s 10 vibrate, 0.1s linear 3.5s 10 vibrate;
}

@keyframes vibrate {
    50% { transform: rotate(1deg) translateX(1px); }
    100% { transform: rotate(-1deg) translateX(-1px);}
}

.green {
    color: green;
}

code var {
    color: purple;
}

.input {
    text-align: center;
}

.input button {
    font-size: 1.25em;
    border-radius: 0.5em;
    font-weight: 300;
    background: skyblue;
    font-family: 'Fira Code';
    padding: 0.5em;
}

.support img {
    height: 100px;
}


@media all and (display-mode: fullscreen) {
    body {
	cursor: none;
    }
}
