* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li::before {
    content: "-";
    display: inline-block;
    width: 2em;
}

:root {
    --light-color: rgb(245, 250, 255);
    --dark-color: #212529;
    --font-size: calc(20px + 1vw);
    --dark-grey: darkgrey;
    --light-blue: #e8f7ff;
    --light-green: #c0eb75;
    --warm-accent: #e599f7;
    --cool-accent: #a3daff;
    --error: #e03131;
    --variable: #99e9f2;
    --violet: #b197fc;
}

body {
    background: var(--light-color);
    color: var(--dark-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: var(--font-size);
    scroll-snap-type: mandatory;
}

h1 {
    font-size: 3.5em;
}


.function {
    color: var(--violet);
}

.faded {
    opacity: 0.25;
}

.support {
    display: flex;
}

pre {
    color: white;
    padding: 1em;
}

section {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 1em;
    scroll-snap-coordinate: top;
}

.code {
    background: var(--dark-color);
}

code {
    color: rgb(255, 255, 255);
    font-family: 'Fira Mono';
    font-weight: 800;
}

.no-support {
    opacity: 0.5;
}

.some-support {
    opacity: 0.9;
}

.red {
    color: red;
}

.comment {
    color: #dee2e6;
    font-weight: 400;
    font-style: italic;
}

section[data-api="vibration"][data-example="basic"]:hover img {
    animation: 0.1s 2s 10 vibrate;
}

section[data-api="vibration"][data-example="alternating"]:hover img {
    animation: 0.1s linear 2s 10 vibrate, 0.1s linear 3.5s 10 vibrate;
}

@keyframes vibrate {
    50% { transform: rotate(1deg) translateX(1px); }
    100% { transform: rotate(-1deg) translateX(-1px);}
}

.string {
    color: var(--light-green);
    font-weight: 300;
    font-style: italic;
}

var {
    color: var(--variable);
    font-style: normal;
}

.variable, var {
    color: #72c3fc;
}

.parameter {
    color: #ffe066;
}

.support img {
    height: 210px;
}

.quote {
    line-height: 2em;
    overflow: hidden;
}

.quote figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 2em;
}

.quote blockquote {
    font-weight: 100;
}

.quote cite {
    color: #1862ab;
}

.quote figcaption {
    text-align: right;
    position: relative;
}

.quote figcaption::before {
    content: '\2014';
    display: inline-block;
    padding-right: 0.5em;
}

.quote figcaption::after {
    color: #1862ab;
    content: "\201D";
    position: absolute;
    right: 0;
    transform: scale(20) translateY(20%) translateX(-25%);
    opacity: 0.4;
}


@media all and (display-mode: fullscreen) {
    body {
	cursor: none;
    }
}
