:root {
  font-size: var(--font-size);
}

body {
  background: var(--light-color);
  color: var(--dark-color);
  font-family: Fira Sans, sans-serif;
  overflow-x: hidden;
  width: 100%;
}

code, pre {
  font-family: Fira Code, monospace;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
  text-align: center;
}
