.slide--quote {
  background: var(--blue-3);
  color: var(--gray-0);
  line-height: 1;
  overflow: hidden;
  padding-bottom: 0;
}

.slide--quote figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  font-size: 2em;
}

.slide--quote blockquote {
  color: var(--gray-0);
  font-size: 1.5em;
  margin: auto;
  margin-top: 0;
}

.slide--quote figcaption {
  padding: 1em;
  position: relative;
  text-align: right;
}

.slide--quote figcaption::before {
  content: '\2014';
  display: inline-block;
  padding-right: 0.5em;
}

.slide--quote figcaption::after {
  color: var(--gray-9);
  content: "\201D";
  mix-blend-mode: overlay;
  position: absolute;
  right: 0;
  transform: scale(20) translateY(25%) translateX(-25%);
}

