.slide--code {
  background: var(--dark-color);
  color: var(--light-color);
  overflow: hidden;
}

.slide--code header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slide--code header code {
  color: var(--gray-4);
  font-weight: 100;
}

.slide--code header svg {
  height: 50px;
  width: 50px;
}

.slide--code header svg:last-child {
  margin-left: auto;
}

.slide--code header svg:first-child {
  fill: var(--gray-0);
  margin-right: 0.75rem;
}

.slide--code section {
  padding-top: 2rem;
  width: 100%;
}

.slide--code .string {
  color: var(--lime-2);
}

.slide--code .comment {
  color: var(--gray-4);
  font-weight: 300;
}

.slide--code .faded {
  opacity: 0.5;
}

.slide--split .link-icon,
.slide--split .file-icon {
  stroke-width: 1px;
  stroke: currentColor;
}
