body {
  scroll-snap-type: mandatory;
}

.slide {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  padding: 2rem 1.5em;
  padding-bottom: 3rem;
  scroll-snap-coordinate: top;
}

.slide:first-child {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide--art {
  background: radial-gradient(circle, var(--gray-0) 30%, transparent 25%), var(--pink-4);
  justify-content: center;
  padding-bottom: 1.5em;
}

.slide--art svg {
  fill: var(--gray-9);
}

.slide--scope {
  background: var(--pink-4);
  color: var(--gray-0);
  justify-content: center;
}

.slide--communication {
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide--communication svg {
  fill: var(--pink-3);
  height: 15em;
  position: absolute;
  width: 15em;
  mix-blend-mode: hard-light;
  top: 25%;
  left: 45%;
}

.slide--communicating {
  background: var(--pink-5);
  flex-flow: row;
  justify-content: space-between;
}

.slide--communicating figure {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: center;
}

.slide--communicating figcaption {
  font-size: 1.5em;
}

.slide--communicating svg {
  fill: var(--gray-0);
  flex: 1;
  stroke-width: 1px;
  max-height: 250px;
}

.slide--communicating div {
  flex: 0.5;
}

.slide--communicating div svg:nth-child(even) {
  transform: scaleX(-1);
}

.slide--event svg {
  height: 250px;
}

.slide--web-workers {
  background: var(--pink-3);
  font-size: 1.25em;
  justify-content: center;
  text-align: center;
}

.slide--service-workers {
  background: var(--blue-3);
  font-size: 1.25em;
  justify-content: center;
  text-align: center;
}

.slide--service-workers h3,
.slide--web-workers h3 {
  color: var(--gray-0);
  font-size: 1.75em;
}

.bg-pink {
  background: var(--pink-3);
}

.bg-blue {
  background: var(--blue-3);
}

.slide--overview > div {
  border: 5px solid;
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 1em;
  width: 100%;
}

.slide--overview .bg-blue {
  border: 5px dotted;
  padding: 1em;
}

.slide--overview .bg-orange {
  border: 5px dashed;
  margin-bottom: 1em;
  padding: 1em;
}

.service-worker-box {
  background: var(--blue-3);
  border: 5px dotted;
  padding: 0.125em;
}

.slide--rationale {
  align-items: center;
  line-height: 1.5;
  justify-content: center;
}

.web-worker-box {
  background: var(--pink-3);
  border: 5px solid;
  padding: 0.125em;
}

.shared-worker-box {
  background: var(--orange-3);
  border: 5px dashed;
  padding: 0.125em;
}

.slide--overview h2 {
  text-align: left;
}

.slide--overview .bg-blue,
.slide--overview .bg-orange,
.slide--overview > div > h2 {
  flex: 1;
}

.bg-orange {
  background: var(--orange-3);
}

.browser-list {
  background: var(--white);
  display: flex;
  padding: 1em;
}

.slide--vintage {
  justify-content: space-between;
}

.slide--vintage header {
  font-size: 1.25em;
  padding: 1em;
}

.browser-list svg {
  margin: 1em;
  stroke: var(--gray-9);
  max-height: 300px;
}

.slide--okay, .slide--parallel {
  align-items: center;
  font-size: 2em;
  justify-content: center;
}

.slide--okay blockquote {
  align-items: center;
  color: var(--black);
  display: flex;
  flex: 1;
  position: relative;
}

.slide--okay svg {
  fill: none;
  position: absolute;
  mix-blend-mode: multiply;
  width: 55vw;
  left: -77.5%;
  bottom: -5%;
  stroke-width: 1px;
}


.slide--parallel blockquote {
  align-items: center;
  color: var(--black);
  display: flex;
  flex: 1;
  position: relative;
}

.slide--parallel svg {
  fill: none;
  position: absolute;
  mix-blend-mode: multiply;
  width: 65vw;
  left: -40%;
  bottom: -17.5%;
  stroke-width: 1px;
}

.slide--why svg {
  left: -135%;
}

.slide--quotes {
  align-items: center;
  justify-content: center;
}

.slide .quotes {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.slide .quotes blockquote {
  align-items: center;
  font-size: 1.8em;
  flex: 1;
  width: 40vw;
}

.slide .quotes blockquote strong {
  display: block;
}

.slide--centred {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide--event-loop {
  position: relative;
  justify-content: center;
  align-items: center;
}

.slide--event-loop svg {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 24%;
  left: 33%;
  fill: var(--green-5);
  mix-blend-mode: darken;
}

.slide--https div {
  background: var(--blue-5);
}

.slide--https svg {
  fill: var(--gray-0);
  stroke: var(--gray-9);
  stroke-width: 0.5px;
}

.slide--mime svg {
  fill: var(--gray-0);
  max-width: 75%;
  stroke-width: 2px;
  stroke: var(--gray-9);
}
