.slide--site {
  align-items: flex-end;
  /* background: var(--blue-6); */
  color: var(--gray-0);
  justify-content: flex-end;
  padding-bottom: 1.75em;
  position: relative;
}

.slide--site h3 {
  font-size: 0.9em;
}

.slide--site figure {
  align-items: center;
  background: var(--white);
  color: var(--black);
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 2em;
  justify-content: center;
  width: 46vw;
  text-align: center;
}

.slide--site figure div {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-around;
  padding: 0.5em 1.5em;
}

.slide--site figcaption {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding: 0.25em;
  text-align: right;
  left: 0.5em;
  top: 0.75em;
  position: absolute;
}

.slide--site figcaption img {
  margin-right: auto;
  max-height: 2em;
  width: auto;
}

.slide--site a {
  color: var(--black);
  font-family: Fira Code;
  font-size: 0.5em;
  margin-left: 0.5em;
  text-decoration: underline;
}

.slide--site svg {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.slide--safejs img {
  max-width: 100%;
}
