.slide--concept {
  background: var(--blue-3);
  color: var(--gray-0);
  font-size: 1.5em;
  justify-content: center;
}

.slide--concept header {
  background: var(--gray-9);
  margin: 1em 4em;
  padding: 1em;
}

.slide--concept svg {
  stroke: var(--gray-9);
  stroke-width: 0.75px;
  fill: currentColor;
}

.slide--concept div {
  align-items: center;
  display: flex;
}

.slide--concept div svg {
  flex: 1;
}

.slide--concept div .forwards-arrow {
  fill: var(--gray-9);
  stroke: none;
  height: 2em;
}

