.slide--grid ul {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.slide--grid li {
  align-items: center;
  background: var(--orange-5);
  display: flex;
  flex-flow: column;
  flex: 1 30%;
  justify-content: center;
  height: 20vh;
  margin: 0.5em;
}

.slide--grid svg {
  fill: var(--white);
  stroke: var(--gray-9);
  stroke-width: 1px;
  height: 3em;
  width: 3em;
}

.slide--grid .not-in-scope {
  background: var(--red-8);
}

.slide--grid .in-scope {
  background: var(--green-5);
}

.slide--grid .not-in-scope--service-workers {
  background: var(--yellow-7);
}

.slide .event {
  border: 5px solid;
}

.slide .event--shared {
  background: var(--blue-6);
  border-style: dashed;
}

.slide .event--service {
  background: var(--pink-5);
  border-style: dotted;
}
