.slide--split {
  background: var(--blue-3);
  flex-flow: row;
  font-size: 2em;
  padding: 0;
}

.slide--split div {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.slide--split div:first-child {
  background: var(--gray-9);
  color: var(--gray-0);
  flex: 3;
}

.slide--split div:last-child {
  flex: 2;
}

.slide--list {
  background: var(--pink-3);
}

.slide--list ul {
  display: flex;
  flex-flow: column;
  font-size: 1.25em;
  justify-content: space-around;
}

.slide--list ul li {
  align-items: center;
  background: var(--gray-9);
  color: var(--white);
  display: flex;
  flex: 1;
  margin: 1em;
  margin-bottom: 0;
}

.slide--list li div {
  flex: 1;
  padding: 1em 2em;
  padding-left: 1em;
  text-align: center;
}

.slide--list li svg {
  background: var(--gray-8);
  height: 4em;
  padding: 1em;
  width: 4em;
}
