svg {
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
}

.no-wifi {
  color: var(--pink-0);
  padding: 1em;
}

.no-wifi line:last-child {
  stroke: var(--gray-9);
}

.controller,
.webpage-icon,
.link-icon {
  height: 3em;
  width: 3em;
}

.globe .water {
  fill: var(--blue-6);
}

.globe .land {
  fill: var(--gray-0);
}

