:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --gray-0: rgb(248, 249, 250);
  --gray-1: rgb(241, 243, 245);
  --gray-2: rgb(233, 236, 239);
  --gray-3: rgb(222, 226, 230);
  --gray-4: rgb(206, 212, 218);
  --gray-5: rgb(173, 181, 189);
  --gray-6: rgb(134, 142, 150);
  --gray-7: rgb(73, 80, 87);
  --gray-8: rgb(52, 58, 64);
  --gray-9: rgb(33, 37, 41);
  --red-0: rgb(255, 245, 245);
  --red-1: rgb(255, 227, 227);
  --red-2: rgb(255, 201, 201);
  --red-3: rgb(255, 168, 168);
  --red-4: rgb(255, 135, 135);
  --red-5: rgb(255, 107, 107);
  --red-6: rgb(250, 82, 82);
  --red-7: rgb(240, 62, 62);
  --red-8: rgb(224, 49, 49);
  --red-9: rgb(201, 42, 42);
  --pink-0: rgb(255, 240, 246);
  --pink-1: rgb(255, 222, 235);
  --pink-2: rgb(252, 194, 215);
  --pink-3: rgb(250, 162, 193);
  --pink-4: rgb(247, 131, 172);
  --pink-5: rgb(240, 101, 149);
  --pink-6: rgb(230, 73, 128);
  --pink-7: rgb(214, 51, 108);
  --pink-8: rgb(194, 37, 92);
  --pink-9: rgb(166, 30, 77);
  --grape-0: rgb(248, 240, 252);
  --grape-1: rgb(243, 217, 250);
  --grape-2: rgb(238, 190, 250);
  --grape-3: rgb(229, 153, 247);
  --grape-4: rgb(218, 119, 242);
  --grape-5: rgb(204, 93, 232);
  --grape-6: rgb(190, 75, 219);
  --grape-7: rgb(174, 62, 201);
  --grape-8: rgb(156, 54, 181);
  --grape-9: rgb(134, 46, 156);
  --violet-0: rgb(243, 240, 255);
  --violet-1: rgb(229, 219, 255);
  --violet-2: rgb(208, 191, 255);
  --violet-3: rgb(177, 151, 252);
  --violet-4: rgb(151, 117, 250);
  --violet-5: rgb(132, 94, 247);
  --violet-6: rgb(121, 80, 242);
  --violet-7: rgb(112, 72, 232);
  --violet-8: rgb(103, 65, 217);
  --violet-9: rgb(95, 61, 196);
  --indigo-0: rgb(237, 242, 255);
  --indigo-1: rgb(219, 228, 255);
  --indigo-2: rgb(186, 200, 255);
  --indigo-3: rgb(145, 167, 255);
  --indigo-4: rgb(116, 143, 252);
  --indigo-5: rgb(92, 124, 250);
  --indigo-6: rgb(76, 110, 245);
  --indigo-7: rgb(66, 99, 235);
  --indigo-8: rgb(59, 91, 219);
  --indigo-9: rgb(54, 79, 199);
  --blue-0: rgb(232, 247, 255);
  --blue-1: rgb(204, 237, 255);
  --blue-2: rgb(163, 218, 255);
  --blue-3: rgb(114, 195, 252);
  --blue-4: rgb(77, 173, 247);
  --blue-5: rgb(50, 154, 240);
  --blue-6: rgb(34, 138, 230);
  --blue-7: rgb(28, 124, 214);
  --blue-8: rgb(27, 110, 194);
  --blue-9: rgb(24, 98, 171);
  --cyan-0: rgb(227, 250, 252);
  --cyan-1: rgb(197, 246, 250);
  --cyan-2: rgb(153, 233, 242);
  --cyan-3: rgb(102, 217, 232);
  --cyan-4: rgb(59, 201, 219);
  --cyan-5: rgb(34, 184, 207);
  --cyan-6: rgb(21, 170, 191);
  --cyan-7: rgb(16, 152, 173);
  --cyan-8: rgb(12, 133, 153);
  --cyan-9: rgb(11, 114, 133);
  --teal-0: rgb(230, 252, 245);
  --teal-1: rgb(195, 250, 232);
  --teal-2: rgb(150, 242, 215);
  --teal-3: rgb(99, 230, 190);
  --teal-4: rgb(56, 217, 169);
  --teal-5: rgb(32, 201, 151);
  --teal-6: rgb(18, 184, 134);
  --teal-7: rgb(12, 166, 120);
  --teal-8: rgb(9, 146, 104);
  --teal-9: rgb(8, 127, 91);
  --green-0: rgb(235, 251, 238);
  --green-1: rgb(211, 249, 216);
  --green-2: rgb(178, 242, 187);
  --green-3: rgb(140, 233, 154);
  --green-4: rgb(105, 219, 124);
  --green-5: rgb(81, 207, 102);
  --green-6: rgb(64, 192, 87);
  --green-7: rgb(55, 178, 77);
  --green-8: rgb(47, 158, 68);
  --green-9: rgb(43, 138, 62);
  --lime-0: rgb(244, 252, 227);
  --lime-1: rgb(233, 250, 200);
  --lime-2: rgb(216, 245, 162);
  --lime-3: rgb(192, 235, 117);
  --lime-4: rgb(169, 227, 75);
  --lime-5: rgb(148, 216, 45);
  --lime-6: rgb(130, 201, 30);
  --lime-7: rgb(116, 184, 22);
  --lime-8: rgb(102, 168, 15);
  --lime-9: rgb(92, 148, 13);
  --yellow-0: rgb(255, 249, 219);
  --yellow-1: rgb(255, 243, 191);
  --yellow-2: rgb(255, 236, 153);
  --yellow-3: rgb(255, 224, 102);
  --yellow-4: rgb(255, 212, 59);
  --yellow-5: rgb(252, 196, 25);
  --yellow-6: rgb(250, 176, 5);
  --yellow-7: rgb(245, 159, 0);
  --yellow-8: rgb(240, 140, 0);
  --yellow-9: rgb(230, 119, 0);
  --orange-0: rgb(255, 244, 230);
  --orange-1: rgb(255, 232, 204);
  --orange-2: rgb(255, 216, 168);
  --orange-3: rgb(255, 192, 120);
  --orange-4: rgb(255, 169, 77);
  --orange-5: rgb(255, 146, 43);
  --orange-6: rgb(253, 126, 20);
  --orange-7: rgb(247, 103, 7);
  --orange-8: rgb(232, 89, 12);
  --orange-9: rgb(217, 72, 15);
  --light-color: var(--white);
  --dark-color: var(--gray-9);
  --font-size: calc(20px + 1vw);
  --dark-grey: darkgrey;
  --light-blue: #e8f7ff;
  --light-green: #c0eb75;
  --warm-accent: #e599f7;
  --cool-accent: #a3daff;
  --error: #e03131;
  --variable: #99e9f2;
}
