:root {
  --light-color: rgb(255, 255, 255);
  --dark-color: #000000;
  --font-size: calc(20px + 1vw);
  --dark-grey: darkgrey;
  --light-blue: #e8f7ff;
  --light-green: #c0eb75;
  --warm-accent: #e599f7;
  --cool-accent: #a3daff;
  --error: #e03131;
  --variable: #99e9f2;
  --violet: #b197fc;

  /* Open Color */
  --grape-5: #cc5de8;
  --violet-5: #845ef7;
  --indigo-5: #5c7cfa;
  --blue-0: #e8f7ff;
  --blue-1: #ccedff;
  --blue-5: #329af0;
  --cyan-5: #22b8cf;
  --teal-5: #20c997;
  --green-5: #51cf66;

  /* Timings */
  --dramatic: 2s;
  --delay: 1s;
}

@media all and (display-mode: full-screen) {
  body {
    cursor: none;
  }
}

body {
  background: var(--light-color);
  color: var(--dark-color);
  cursor: none;
  font-family: Fira Sans, sans-serif;
  font-size: var(--font-size);
  scroll-snap-type: mandatory;
}

code, pre {
  font-family: Fira Code, monospace;
}

.slide {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  padding: 1rem;
  padding-bottom: 3rem;
  scroll-snap-coordinate: top;
  overflow: none;
}

.slide section {
  flex: 1;
}

.slide header,
.slide section {
  padding: 2rem;
}

.slide--code {
  background: var(--dark-color);
  color: var(--light-color);
  overflow: hidden;
}

.slide--code section {
  width: 100%;
}

code .string {
  color: var(--teal-5);
}

code .parameter,
code .string .parameter {
  color: var(--blue-5);
}

code .function {
  color: var(--violet-5);
}

code .string var {
  color: var(--light-color);
}

/* Title Slide */
.slide:first-child {
  justify-content: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

.slide header:only-child {
  margin: auto;
}

.slide--code {
  justify-content: space-between;
}

.slide--code header {
  margin-right: auto;
}

figure {
  align-items: center;
  background: var(--blue-0);
  border: 1px solid var(--blue-1);
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1rem;
}

figure ol {
  display: flex;
  justify-content: center;
}

figure svg {
  height: 3rem;
  width: 3rem;
}

figure svg {
  margin: 1rem;
}

[id="sensors__about"] section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 80vw;
}

[id="sensors__about"] ul {
  grid-column: 1 / -1;
  text-align: center;
}

header p {
  text-align: center;
}

.appear {
  opacity: 0;
  transition: 0.5s 0.5s ease-in-out;
  transition-property: opacity, transform;
  transform: translateY(-0.25em)
}

.slide--visible .appear {
  opacity: 1;
  transform: translateY(0);
}

.slide--code footer {
  margin-left: auto;
  padding: 0 2rem;
}

var {
  font-weight: 800;
}

.slide h3 {
  text-align: center;
}

.not-yet {
  opacity: 0.5;
}
